{%extends 'events/base.html'%}

{%block content%}
{% if user.is_authenticated %}
<center>
    <h1>Add details for the Venue</h1>
    <!-- Fetches the submitted value that was passed thru context -->
     <!-- If the form is submitted we display success message else we display the form -->
    {% if submitted %}
    Your form has been successfully submitted
    {% else %}
    <form action="" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
    {% endif %}
</center>
{% else %}
<h1>Sorry you need to be logged in to view this page</h1>
<button type="button" class="btn btn-outline-primary"><a href="{% url 'login-user' %}">Login</a></button>
{% endif %}
{%endblock%}
