<nav class="navbar navbar-expand-lg bg-dark text-light">
    <div class="container-fluid">
      <!-- ReadMe myClubWebsite1 -->
      <a class="navbar-brand text-light" href="{% url 'home' %}">MyClub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'list-events' %}">Events</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'add-event' %}">Add Events</a>
          </li> -->
          <li class="nav-item">
            <!-- Readme myClubWebsite2 -->
            <a class="nav-link text-light" href="{% url 'home' '2024' 'June' %}">June 2024</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'list-venues' %}">Venues</a>
          </li>
          <li class="nav-item dropdown bg-dark">
            <a class="nav-link dropdown-toggle  text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add
            </a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item text-light" href="{% url 'add-venue' %}">Add_Venue</a></li>
              <li><a class="dropdown-item text-light" href="{% url 'add-event' %}">Add Event</a></li>
              <li><hr class="dropdown-divider" style="border-color: #eef0f2;"></li>
              <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown bg-dark">
            <a class="nav-link dropdown-toggle  text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Generate Files
            </a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item text-light" href="{% url 'venues-text' %}">Venue-List Text File</a></li>
              <li><a class="dropdown-item text-light" href="{% url 'venues-csv' %}">Venue-List CSV file</a></li>
              <li><hr class="dropdown-divider" style="border-color: #eef0f2;"></li>
              <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item text-light" href="{% url 'add-venue' %}">Add_Venue</a></li>
              <li><a class="dropdown-item text-light" href="{% url 'add-event' %}">Add Event</a></li>
              <li><hr class="dropdown-divider" style="border-color: #eef0f2;"></li>
              <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search" method=POST action="{% url 'search-venues' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search Venues" name="searched" aria-label="Search">
          <button class="btn btn-outline-light text-light" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
