{%extends 'events/base.html'%}

{%block content%}
<table class="table table-striped table-hover table-bordered">
    <h1>Venues...</h1>
    {% for venue in venues_paginated %}
    <tr>
        <td>
            <!-- pointing to show-venue and passing venue id as parameter so it would be /show_venue/id -->
            <a href="{% url 'show-venue' venue.id %}">{{ venue }}</a> <br>
        </td>
        <td>
            <a href="{% url 'update-venue' venue.id %}" class="btn btn-sm btn-outline-dark">Update</a>
            <a href="{% url 'delete-venue' venue.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item {% if not venues_paginated.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if venues_paginated.has_previous %}?page={{ venues_paginated.previous_page_number }}{% endif %}">Previous</a>
        </li>        
      {% for i in venues_paginated.paginator.page_range %}
      <li class="page-item {% if venues_paginated.number == i %}active{% endif %}">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
    </li>
      {% endfor %}
      <li class="page-item {% if not venues_paginated.has_next %}disabled{% endif %}">
        <a class="page-link" href="{% if venues_paginated.has_next %}?page={{ venues_paginated.next_page_number }}{% endif %}">Next</a>
    </li>    
    </ul>
  </nav>
{%endblock%}