{%extends 'events/base.html'%}

{%block content%}
<table class="table table-striped table-hover table-bordered">
    <h1>Venues...</h1>
    {% for venue in venues_paginated %}
    <tr>
        <td>
            <!-- pointing to show-venue and passing venue id as parameter so it would be /show_venue/id -->
            <a href="{% url 'show-venue' venue.id %}">{{ venue }}</a> <br>
        </td>
        <td>
            <a href="{% url 'update-venue' venue.id %}" class="btn btn-sm btn-outline-dark">Update</a>
            <a href="{% url 'delete-venue' venue.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% if venues_paginated.has_previous %}
<a href="?page=1">&lAarr;</a>
<a href="?page={{venues_paginated.previous_page_number}}">&larr;</a>
{% endif %}

Page {{venues_paginated.number}} of {{venues_paginated.paginator.num_pages}}

{% if venues_paginated.has_next %}
<a href="?page={{venues_paginated.next_page_number}}">&rarr;</a>
<a href="?page={{venues_paginated.paginator.num_pages}}">&rAarr;</a>
{% endif %}
{%endblock%}